.box
{
  border-radius:0 !important;
}

.fnone{
  float:none !important;
}

.h-inherit
{
  height: inherit !important;
}
.margin0{
  margin: 0px !important;
}
.margintop-1{
  margin-top: -1px;
}
.marginleft-20{
  margin-left: -20px;
}
.marginleft-16{
  margin-left: -16px;
}
.margin20{
  margin:20px;
}
.paddingtop0{
  padding-top: 0px;
}
.paddingbottom0{
  padding-bottom: 0px;
}
.bgfff{
  background:#ffffff;
}

.bordernone{
  border: 0px;
}

.action_menu_col{
	width: 160px;
}
@media (max-width: 767px) {
  .action_menu_col{
    width: 70px;
  }
}
.action_menu{
	list-style: none;
}
.action_menu li{
	float:left;
}
.action_menu li a{
	padding-left: 17px;
	text-decoration : none;
}
.modal-body .marginleft-16{
  margin-left: -20px;
}
ul.action_menu .icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12px;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
ul.action_menu a{background:transparent url(../img/icons/bricks_gear.png) no-repeat left;}
.user{background:transparent url(../img/icons/user.png) no-repeat left !important;}
.useradd{background:transparent url(../img/icons/user_add.png) no-repeat left !important;}
.group{background:transparent url(../img/icons/group.png) no-repeat left !important;}
.search{background:transparent url(../img/icons/magnifier.png) no-repeat left !important;}
.online{background:transparent url(../img/icons/world.png) no-repeat left !important;}
.pagenew{background:transparent url(../img/icons/page_add.png) no-repeat left !important;}
.rss{background:transparent url(../img/icons/rss.png) no-repeat left !important;}
.feed{background:transparent url(../img/icons/feed.png) no-repeat left !important;}
.report{background:transparent url(../img/icons/report.png) no-repeat left !important;}
.house{background:transparent url(../img/icons/house.png) no-repeat left !important;}
.manage{background:transparent url(../img/icons/cog.png) no-repeat left !important;}
.manage_page{background:transparent url(../img/icons/page_gear.png) no-repeat left !important;}
.folder{background:transparent url(../img/icons/folder.png) no-repeat left !important;}
.promotions{background:transparent url(../img/icons/coins.png) no-repeat left !important;}
.cart{background:transparent url(../img/icons/cart.png) no-repeat left !important;}
.folder_table{background:transparent url(../img/icons/folder_page.png) no-repeat left !important;}
.shipping{background:transparent url(../img/icons/car.png) no-repeat left !important;}
.invoices{background:transparent url(../img/icons/page_white_text_width.png) no-repeat left !important;}
.addorder{background:transparent url(../img/icons/folder_page_add.png) no-repeat left !important;}
.app_add{background:transparent url(../img/icons/application_add.png) no-repeat left !important;}
.report_seo{background:transparent url(../img/icons/report_link.png) no-repeat left !important;}
.modules{background:transparent url(../img/icons/bricks.png) no-repeat left !important;}
.modules_manage{background:transparent url(../img/icons/bricks_gear.png) no-repeat left !important;}

.add{background:transparent url(../img/icons/add.png) no-repeat left !important;}
.edit{background:transparent url(../img/icons/edit.gif) no-repeat left !important;}
.penilaian{background:transparent url(../img/icons/edit.gif) no-repeat left !important;}
.delete{background:transparent url(../img/icons/delete.gif) no-repeat left !important;}
.view{background:transparent url(../img/icons/view.gif) no-repeat left !important;}
.report{background:transparent url(../img/icons/report.png) no-repeat left !important;}
.hasil{background:transparent url(../img/icons/report.png) no-repeat left !important;}
.listing{background:transparent url(../img/icons/return.gif) no-repeat left !important;}
.index{background:transparent url(../img/icons/return.gif) no-repeat left !important;}

.icon{
  padding-left:25px !important;  
  background-position-x:5px !important;
  margin-left:2px;
}


#sortable { font-weight: normal; width:100%; padding-bottom: 10px; margin: 0;}
#sortable ul { font-weight: normal; width:100%; padding: 5px 0;}
#sortable ul ul{ width:100%;}
#sortable ul ul li{ margin-left: 30px;}
#sortable li { width: auto; border: 1px #000000 solid; list-style:none;}
#sortable li .sort_action a{ margin: 0 5px; padding: 2px 0px 2px 17px; }
#sortable .ui-state-highlight { min-height:20px; float:left; width:100%;}

@media (max-width: 767px) {
  #sortable { font-weight: normal; width:150%; padding-bottom: 10px; margin: 0;}
}

.text_editor{
	padding-right: 20px;
	background: url(../img/icons/edit.gif) center right no-repeat;
	cursor: pointer;
}

.fleft{float:left;}
.fright{float:right;}
.fclear{clear:both;}
