/***
Inbox Page
***/

.uneditable-input, textarea.m-wrap, input.m-wrap[type="text"], input.m-wrap[type="password"], input.m-wrap[type="datetime"], input.m-wrap[type="datetime-local"], input.m-wrap[type="date"], input.m-wrap[type="month"], input.m-wrap[type="time"], input.m-wrap[type="week"], input.m-wrap[type="number"], input.m-wrap[type="email"], input.m-wrap[type="url"], input.m-wrap[type="search"], input.m-wrap[type="tel"], input.m-wrap[type="color"] {
	background: #ccc;
}

.inbox {
  margin-bottom: 20px;
}

.inbox .inbox {
  margin-bottom: 0px;
}

.inbox .tab-content {
  overflow: inherit;
}

.inbox .inbox-loading {
  display: none;
  font-size: 22px;
  font-weight: 300;
}

/*Imbox Menu*/
.inbox .inbox-nav {
  list-style: none;
  margin-left: 0 !important;
}

.inbox .inbox-nav li {
  position: relative;
}

.inbox .inbox-nav li a {
  color: #4d82a3;
  display: block;
  font-size: 15px;
  border-left: none;
  text-align: left !important;
  padding: 8px 14px;
  margin-bottom: 1px;
  background: #f4f9fd;
}

.inbox .inbox-nav li.active a,
.inbox .inbox-nav li.active:hover a {
  color: #fff;
  border-left: none;
  background: #169ef4 !important;
  text-decoration: none;
}

.inbox .inbox-nav li.active b {
  top: 0;
  right: -4px;
  width: 8px;
  height: 35px;
  position: absolute;
  display: inline-block;
  background: url(../../img/inbox-nav-arrow-blue.png) no-repeat;
}

.inbox .inbox-nav li:hover a {
  color: #4d82a3;
  background: #EAF2E5 !important;
  text-decoration: none;
}

.inbox .inbox-nav li.compose-btn a {
  color: #fff;
  text-shadow: none;
  text-align: center;
  margin-bottom: 18px;
  background: #35aa47;
}

.inbox .inbox-nav li.compose-btn i,
.inbox .inbox-nav li.compose-btn:hover i {
  top: 1px;
  color: #fff;
  font-size: 15px;
  position: relative;
  background: none !important;
}

.inbox .inbox-nav li.compose-btn a:hover {
  background-color: #1d943b !important;
}

/*Inbox Content*/
.inbox .inbox-header {
  overflow: hidden;
}

.inbox .inbox-header h1 {
  margin: 0;
  color: #666;
  margin-bottom: 10px;
}

.inbox tr {
  color: #4C772E;
  font-size: 13px;
}

.inbox tr label {
  display: inline-block;
  margin-bottom: 0;
}

.inbox tr.unread td{
  font-weight: 600;
  font-size: 12px;
}

.inbox td i.glyphicon-paperclip {
  top: 2px;
  color: #AFD691;
  font-size: 17px;
  position: relative;
}

.inbox tr i.glyphicon-star,
.inbox tr i.glyphicon-trash {
  cursor: pointer;  
}

.inbox tr i.glyphicon-star {
  color: #CCDAC2;
}

.inbox tr i.glyphicon-star:hover {
  color: #5A9C1E;
}

.inbox tr i.inbox-started {
  color: #5A9C1E;  
}

.inbox .table th, 
.inbox .table td {
  border: none;
}

.inbox .table th {  
  background: #EBF7E5;
  border-bottom: solid 5px #fff;
}

.inbox th.text-right {
  text-align: right;
}

.inbox th label.inbox-select-all {
  color: #828f97;
  font-size: 13px;
  padding: 1px 4px 0;
}

.inbox ul.inbox-nav {
  margin-bottom: 0;
}

.inbox ul.inbox-nav li {
  padding: 0;
}

.inbox ul.inbox-nav li span {
  color: #828f97;
  font-size: 12px;
  margin-right: 10px;
}

.inbox ul.inbox-nav i {
  color: #fff;
  padding: 1px 0;
  font-size: 15px;
  cursor: pointer; 
  background: #d0dde4 !important;
}

.inbox ul.inbox-nav i:hover {
  background: #169ef4 !important;
}

.inbox td.text-right {
  width: 100px;
  text-align: right;
}

.inbox td.inbox-small-cells {
  width: 10px;
}

.inbox .table-hover tbody tr:hover>td, 
.inbox .table-hover tbody tr:hover>th, 
.inbox .table-striped tbody>tr:nth-child(odd)>td, 
.inbox .table-striped tbody>tr:nth-child(odd)>th {
  background: #F5FBF1;  
  cursor: pointer;
}

.inbox .table-hover tbody tr:hover>td, 
.inbox .table-hover tbody tr:hover>th {
  background: #EAF2E5;
}

/*Inbox Drafts*/
.inbox .inbox-drafts {
  padding: 8px 0;
  text-align: center;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

/*Inbox View*/
.inbox-view-header {
  margin-bottom: 20px;
}

.inbox-view-header h1 {
  color: #666;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 0 !important;
}

.inbox-view-header h1 a {
  top: -2px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 2px 7px;
  line-height: 16px;
  position: relative;
  background: #b0bcc4;
  display: inline-block;
}

.inbox-view-header h1 a:hover {
  background: #aab5bc;
  text-decoration: none;
}

.inbox-view-header i.glyphicon-print {
  color: #94a4ab;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  padding: 6px 8px !important;
  background: #edf1f4 !important;
}

.inbox-view-header i.glyphicon-print:hover {
  background: #e7ebef !important;
}

.inbox-view-info {
  color: #666;  
  padding: 5px 0;
  margin-bottom: 10px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.inbox-view-info strong {
  color: #666;
  margin: 0 10px 0 5px;
}

.inbox-view-info .inbox-info-btn {
  text-align: right;
}

.inbox-view-info .inbox-info-btn ul {
  text-align: left;
}

.inbox-view-info button {
  top: 2px;
  color: #94a4ab;
  font-size: 13px;
  margin-left: 4px; 
  padding: 3px 10px;
  position: relative;
  background: #edf1f4;
}

.inbox-view-info button:hover {
  color: #94a4ab;
  background: #e7ebef;
}

.inbox-view {
  color: #666;
  padding: 15px 0 0;
}

.inbox-view a {
  color: #169ce9;
}

.inbox-attached {
  line-height: 16px;
}

.inbox-attached a {
  margin: 0 2px;
}

.inbox-attached img {
  height: auto;
  max-width: 250px;
  margin-bottom: 5px;
}

.inbox-attached span {
  margin-right: 3px;
}

.inbox-attached strong {
  color: #555;
  display: block;
  font-size: 13px;
}

.inbox-attached .margin-bottom-25 {
  margin-bottom: 25px;
}

.inbox-attached .margin-bottom-15 {
  margin-bottom: 15px;
}


