<table width="100%" class="table authentication info-summary">
	<colgroup>
		<col width="50%">
		<col width="50%">
	</colgroup>
  <tbody>
    <tr>
      <td colspan="2"><br/>
        <h1>Contact from {{NAME}} / {{EMAIL}}</h1>
      </td>
    </tr>
    
    <tr>
      <td>
        <table width="100%">
          <tr>
            <td>Subject</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
      <td>
        <table width="100%">
          <tr>
            <td>{{SUBJECT}}</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
    </tr>
    
    <tr>
      <td>
        <table width="100%">
          <tr>
            <td>Phone</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
      <td>
        <table width="100%">
          <tr>
            <td>{{PHONE}}</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
    </tr>
    
    <tr>
      <td>
        <table width="100%">
          <tr>
            <td>Messages</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
      <td>
        <table width="100%">
          <tr>
            <td>{{DESCRIPTION}}</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
    </tr>
    
  <tbody>
</table>
