<table width="100%" class="table authentication info-summary">
  <tbody>
    <tr>
      <td><h1>Permintaan set ulang kata sandi</h1></td>
    </tr>
    <tr>
      <td>
        <table width="100%">
          <tr><td>Klik link berikut dan set ulang kata sandi</td><td>{{RESET_PASS_REQUEST_URL}}</td></tr>
        </table>
      </td>
    </tr>
		<tr>
      <td>
				<br>
				<br>
				<hr>
				<br>
				<br>
					<table width="100%">
						<tr><td><h3>Saya telah terima Email ini, lalu apa yang harus saya lakukan selanjutnya?</h3></td></tr>
						<tr><td>Apakah Anda melihat ada tulisan "Klik link berikut dan set ulang kata sandi"? Apabila ya, maka lihat pada bagian sebelah kanannya.
						Disana terdapat sebuah link atau tautan atau tulisan yang bergaris bawah dan berwarna biru. Yang tertulis disana
						adalah "Reset Password". Anda dapat langsung melakukan klik pada link tersebut.</td></tr>
						
						<tr><td><h3>Apa yang terjadi setelah Saya mengklik link tersebut?, apakah berbahaya?</h3></td></tr>
						<tr><td>Yang akan terjadi adalah: Anda akan loncat kehalaman set ulang kata sandi akun website webinstantpro.com. Sebagaimana
						Anda telah mengisi formulir lupa kata sandi pada website webinstantpro.com sebelumnya. Lalu Anda masukan atau ketikan kata sandi baru.
						Kata sandi baru ini yang bisa Anda gunakan untuk login pada website webinstantpro.com, semenjak penggantian ini kata sandi lama tidak akan dikenal lagi.
						Jangan khawatir link aman dan tidak berbahaya dan tidak akan mengganggu Anda. Link ini tidak berisi konten yang tidak Anda harapkan.</td></tr>
						
						<tr><td><h3>Saya tidak mengisi formulir lupa kata sandi di webinstantpro.com, tapi saya menerima Email ini.</h3></td></tr>
						<tr><td>Banyak kemungkinan terjadi, mungkin saja Anda lupa bahwa telah mengisi formulir lupa kata sandi di situs webinstantpro.com.
						Hal lain yang mungkin adalah seseorang yang mungkin Anda kenal dan mengetahui Email Anda mencoba mengganti kata sandi Anda tanpa sepengetahuan Anda.
						Tidak perlu panik karena kami tidak akan melakukan tindakan yang dapat merugikan Anda dan Email Anda. Apabila ini benar-benar
						terjadi dan Anda tetap harus melanjutkan proses ini, karena Email ini adalah indikasi bahwa Anda kehilangan kata sandi Anda,
						Sehingga webinstantpro akan sementara mem-blokir akses masuk Anda. Anda wajib melakukan klik pada link "Reset Password" dan mengisi kata sandi baru
						untuk dapat kembali memiliki akses masuk dan menggunakan layanan di webinstantpro.com</td></tr>
						
						<tr><td><h3>Saya menemukan Email ini pada spam atau junk email bukan pada daftar inbox di Email saya.</h3></td></tr>
						<tr><td>Apabila Anda menemukan Email ini pada spam atau junk email, sebaiknya mengubah statusnya menjadi Bukan Spam / Not Spam. Karena
						membiarkannya tetap berstatus spam atau junk email, akan mempersulit kami berinteraksi atau berkomunikasi dengan Anda. Mengapa demikian?
						Karena Email ini termasuk Email penting, kami tidak melakukan pengiriman Email sampah atau Email iklan dalam jumlah yang banyak.
						Semua aktifitas Email yang kami terbitkan dan kirimkan kepada Anda adalah untuk membantu Anda dalam berinteraksi terhadap situs webinstantpro.com.</td></tr>
						
						<tr><td><h3>Saya telah mengikuti prosedur lupa kata sandi dengan benar, tapi Saya mendapat kesulitan melakukan login.</h3></td></tr>
						<tr><td>Kesalahan mungkin saja terjadi, kesalahan terjadi karena berbagai faktor dan hambatan. Sekalipun Kami melakukan pelayanan terbaik untuk menghindarinya.
						Namun jika Anda mengalaminya, Anda dapat melayangkan sebuah Email kepada kami yang ditujukan kepada <a href="mailto:support@webinstantpro.com">support@webinstantpro.com</a> 
						atau malalui formulir <a href="http://webinstantpro.com/contact_us">"Kontak Kami"</a> atau <a href="http://webinstantpro.com/contact_us">klik disini</a>. 
						Sertakan tanggal Anda mengisi formulir lupa password, Nama beserta alamat Email yang Anda gunakan saat melakukan pendaftaran.</td></tr>
					</table>
      </td>
    </tr>
  <tbody>
</table>
