<table width="100%" class="table authentication info-summary">
	<colgroup>
		<col width="50%">
		<col width="50%">
	</colgroup>
  <tbody>
    <tr>
      <td colspan="2"><br/>
        <h1>Payment Confirmation</h1>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%">
          <tr>
            <td>Invoice Pesanan</td>
          </tr>
          <tr>
            <td>Nama Bank</td>
          </tr>
          <tr>
            <td>Nama Pengirim</td>
          </tr>
          <tr>
            <td>Nomor Rekening Pengirim</td>
          </tr>
          <tr>
            <td>Jumlah Pembayaran</td>
          </tr>
          <tr>
            <td>Tanggal Pembayaran</td>
          </tr>
          <tr>
            <td>Tujuan Pembayaran</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
      <td>
        <table width="100%">
          <tr>
            <td>{{INVOICE_NUMBER}}</td>
          </tr>
          <tr>
            <td>{{BANK_NAME}}</td>
          </tr>
          <tr>
            <td>{{BANK_ACCOUNT_NAME}}</td>
          </tr>
          <tr>
            <td>{{BANK_ACCOUNT_NUMBER}}</td>
          </tr>
          <tr>
            <td>{{PAYMENT_AMOUNT}}</td>
          </tr>
          <tr>
            <td>{{PAYMENT_DATE_YEAR}} / {{PAYMENT_DATE_MONTH}} / {{PAYMENT_DATE_DATE}}</td>
          </tr>
          <tr>
            <td>{{PAYMENT_DESTINATION}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          
          <tr><td>&nbsp;</td></tr>
        </table>
      </td>
    </tr>
  <tbody>
</table>