<table width="100%" class="table authentication info-summary">
  <tbody>
    <tr>
      <td><h1>Silahkan aktivasi akun Anda:</h1></td>
    </tr>
    <tr>
      <td>
        <table width="100%">
          <tr><td>Username</td><td>{{USER_LOGIN}}</td></tr>
          <tr><td>Link aktivasi akun</td><td>{{USER_ACTIVATION_URL}}</td></tr>
        </table>
      </td>
    </tr>    
		<tr>
      <td>
				<br>
				<br>
				<hr>
				<br>
				<br>
        <table width="100%">
          <tr><td><h3>Saya telah terima Email ini, lalu apa yang harus saya lakukan selanjutnya?</h3></td></tr>
          <tr><td>Apakah Anda melihat ada tulisan "Link aktivasi akun"? Apabila ya, maka lihat pada bagian sebelah kanannya.
					Disana terdapat sebuah link atau tautan atau tulisan yang bergaris bawah dan berwarna biru. Yang tertulis disana
					adalah "Activation Page". Anda dapat langsung menlakukan klik pada link tersebut.</td></tr>
					
          <tr><td><h3>Apa yang terjadi setelah Saya mengklik link tersebut?, apakah berbahaya?</h3></td></tr>
          <tr><td>Yang akan terjadi adalah: Anda akan loncat kehalaman aktivasi akun website webinstantpro.com. Sebagaimana
					Anda telah melakukan registrasi pada website webinstantpro.com sebelumnya. Jangan khawatir link aman dan tidak berbahaya 
					dan tidak akan mengganggu Anda. Link ini tidak berisi konten yang tidak Anda harapkan.</td></tr>
					
          <tr><td><h3>Apa itu aktivasi dan mengapa harus aktivasi?</h3></td></tr>
          <tr><td>Aktivasi adalah proses pembenaran atas proses pendaftaran Anda. Kami melakukan verifikasi terhadap alamat Email
					para pengguna di situs webinstantpro.com hal ini dilakukan untuk menghindari: Email yang tidak valid dan pembuatan akun palsu.
					Proses aktivasi ini seperti mengirim sinyal terhadap situs webinstantpro.com bahwa akun yang Anda buat adalah benar dan Email
					yang Anda gunakan adalah valid.</td></tr>
					
          <tr><td><h3>Saya tidak melakukan pendaftaran di webinstantpro.com, tapi saya menerima Email ini.</h3></td></tr>
          <tr><td>Banyak kemungkinan terjadi, mungkin saja Anda lupa bahwa telah melakukan pendaftaran di situs webinstantpro.com.
					Hal lain yang mungkin adalah seseorang yang mungkin Anda kenal dan mengetahui Email Anda mendaftarkannya tanpa sepengetahuan Anda.
					Tidak perlu panik karena kami tidak akan melakukan tindakan yang dapat merugikan Anda dan Email Anda. Apabila ini benar-benar
					terjadi dan Anda tidak ingin melanjutkan proses pendaftaran ini. Anda cukup mengabaikan saja Email ini tanpa harus melakukan
					klik pada link aktifasi diatas.</td></tr>
					
          <tr><td><h3>Saya menemukan Email ini pada spam atau junk email bukan pada daftar inbox di Email saya.</h3></td></tr>
          <tr><td>Apabila Anda menemukan Email ini pada spam atau junk email, sebaiknya mengubah statusnya menjadi Bukan Spam / Not Spam. Karena
					membiarkannya tetap berstatus spam atau junk email, akan mempersulit kami berinteraksi atau berkomunikasi dengan Anda. Mengapa demikian?
					Karena Email ini termasuk Email penting, kami tidak melakukan pengiriman Email sampah atau Email iklan dalam jumlah yang banyak.
					Semua aktifitas Email yang kami terbitkan dan kirimkan kepada Anda adalah untuk membantu Anda dalam berinteraksi terhadap situs webinstantpro.com.
					</td></tr>
					
          <tr><td><h3>Saya telah mengikuti prosedur aktivasi dengan benar, tapi Saya mendapat kesulitan melakukan aktifasi.</h3></td></tr>
          <tr><td>Kesalahan mungkin saja terjadi, kesalahan terjadi karena berbagai faktor dan hambatan. Sekalipun Kami melakukan pelayanan terbaik untuk menghindarinya.
					Namun jika Anda mengalaminya, Anda dapat melayangkan sebuah Email kepada kami yang ditujukan kepada <a href="mailto:support@webinstantpro.com">support@webinstantpro.com</a> 
					atau malalui formulir <a href="http://webisntantpro.com/contact_us">"Kontak Kami"</a> atau <a href="http://webinstantpro.com/contact_us">klik disini</a>. 
					Sertakan tanggal Anda mendaftar, Nama beserta Email yang Anda gunakan untuk melakukan pendaftaran.</td></tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
